{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row"><div class="col-md-8 col-md-offset-2">
                <div id="welcome">
                    <h1>Welcome</h1>
                </div>

                <div>
                    <h2>What's this?</h2>
                    <p>
                        This is the disclaimer. 
                    </p>
                    <p><a class="btn btn-default" href="{{ path('homepage') }}" role="button">I agree with this &raquo;</a></p>
                </div>
            </div></div>
        </div>
    </div>
{% endblock %}
