
<div class="voffset2 row">    
    <div class="col-md-8">
        <hr width="75%" class="text-center">
        <a class="btn btn-default voffset4" id="btn-show-sheet" role="button"><span class="btn-message">Show again information sheet</span><span class="btn-message" style="display: none">Hide information sheet</span></a>
        <div id="info-sheet" style="display: none;">
            {% include 'default/info_sheet_actual.html.twig' %}
        </div>
    </div>
</div>
