    <div class="is">
        <h2>The title of this study is: What are the reading difficulties of people who have autism?</h2>

        <div>My name is Victoria Yaneva and I am a researcher at the University of Wolverhampton. My research is in the area of Psycholinguistics. The name of my line manager is Professor Ruslan Mitkov. </div>

        <div>I would like to invite you to take part in a research study. First, I am going to explain to you what this study is about. If you find anything difficult to understand, you can ask me questions by writing to me at v.yaneva@wlv.ac.uk. After you know what the study is about, you can say whether you would like to participate in it or not.</div>

        <div><strong>Why am I doing this study:</strong>
        <ul>
            <li>Research has found that sometimes people who have autism may find reading difficult.
            <li>Because of these difficulties with reading, people with autism have difficulties at school and limited access to important educational material, documents and news.
            <li>The aim of this study is to understand whether certain computer programs can help people with autism read better.
            <li>This is an important thing to know, because it will make it easier for students with autism to have good marks at school or at university and to understand written information better.
            <li>The results from this study will be published in a scientific article. A scientific article is a text, which describes how a study has been done and what the results from it are. I will not mention anyone’s name in the article. This means that no one will know that you have participated in a study or  what answers you gave to the questions in the study.
        </ul></div>

        <div><strong>What would you have to do if you decided to participate?</strong>
        <ul>
            <li>First, if you agree to participate, you will have to confirm so by filling in a consent form. If you are under 18, please ask your parent or guardian to fill it in for you.
            <li>After that you will have to answer a few questions about your age, education, diagnosis and reading habits.
            <li>I will ask you to read short texts and fill in a few gaps (missing words) in the texts. You will be able to see the missing words on the right side of the text or below the text and choose which one to put in each gap.
            <li>While you are answering the questions about the texts, the computer will measure the time it takes you to give an answer. It is okay to take as much time as you need.
            <li>Once you have completed these we will ask you about your opinions of the reading comprehension test.            
            <li>The study will take you around 50 minutes to complete. If you get tired, you can take a break at any time. 
        </ul></div>
        
        <div><strong>Protection of Personal Data</strong>
        <ul>
            <li>I oblige not to tell anyone your name, nor to show them any of the answers. I oblige to keep all data in a safe place. Only my line manager, Dr Constantin Orasan, who is in charge of the technical details, and I will have access to your data.
            <li>The data collected will not contain any other personal information about you, except for name, diagnosis and years of schooling. They will be kept secret.
            <li>If you decide that you no longer want to participate in this study, you can stop at any point. 
            <li>If after you finish the study you decide that you do not want me to use your data, you can let me know and I will not use them. You can contact me at v.yaneva@wlv.ac.uk. You can also contact my line manager at r.mitkov@wlv.ac.uk. 
            <li>If you would like to learn more about the results of the study, you can write to me to express your interest at v.yaneva@wlv.ac.uk
        </ul>

        <div><strong>In case you have any concerns:</strong>
        <p>If you have concerns about any aspect of the study you can 
            contact me or my line manager. Our emails are: 
            Dr. Victoria Yaneva (v.yaneva@wlv.ac.uk), Dr Constantin Orasan (c.orasan@wlv.ac.uk) and  
            Professor Ruslan Mitkov (r.mitkov@wlv.ac.uk). We are based 
            at the University of Wolverhampton, MC block, Wulfruna 
            Street, Wolverhampton, UK. WV1 1LY.                    
        </div>
    </div>
