{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="welcome">
                    <h1>Information sheet</h1>
                </div>

                {% if type_is == "prereading" %}
                    {% include 'default/info_sheet_actual.html.twig' %}
                {% else %}
                    {% include 'default/info_sheet_cloze_actual.html.twig' %}
                {% endif %}
            
                <div class="voffset5">
                    <p class="text-center"><a class="btn btn-default" href="{{ path('next') }}" role="button">
                            I am interested to take part &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
