<div id="rating" {{ style }}>
    <div>
        <h2>How easy or difficult did you find this text? 
        <select id="text-difficulty">
            <option value="none" disabled selected></option>
            <option value="veryeasy">Very easy</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="difficult">Difficult</option>
            <option value="verydifficult">Very difficult</option>
        </select>
            </h2>
    </div>
    <a class="btn btn-default voffset4 disabled" id="btn-rate" role="button">Next</a>
</div>
