{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Please tell us more about you</h2>
                <p>
                        Here goes the questionnaire
                        
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                </p>                
            </div>
        </div>
    </div>
{% endblock %}
