{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row voffset4">
            <div class="col-md-8">
                <h1>Well done!</h1>

                <p>Thank you very much for taking part in this study. If you would 
                    like to receive any further information or in case you have any 
                    concerns, please contact Doctor Victoria Yaneva at 
                    v.yaneva@wlv.ac.uk or Professor Ruslan Mitkov at r.mitkov@wlv.ac.uk.
                </p>
                <p>
                    In any communication please mention that your ID was {{ participant }}.
                </p>                
                
                <div class="voffset4" id="div-voucher">
                    <p class="voffset4">
                        <input type="checkbox" id="contact-future"> I would be interested to take part in future research. If you select this option we may contact you in future, very occasionally, to invite you to take part in similar experiments.
                    </p>
                    <br/>
                    <p>You can now close the browser.</p>
                </div>                        
            </div>                
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/thankyou.js') }}"></script>
    <script src="{{ asset('js/utils.js') }}"></script>
{% endblock %}
