{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row voffset4">
            <div class="col-md-8">
                <h1>Well done!</h1>

                <p>Thank you very much for taking part in this study. If you would 
                    like to receive any further information or in case you have any 
                    concerns, please contact Doctor Victoria Yaneva at 
                    v.yaneva@wlv.ac.uk or Professor Ruslan Mitkov at r.mitkov@wlv.ac.uk.
                </p>
                <p>
                    In any communication please mention that your ID was {{ participant }}.
                </p>
                
                <div class="voffset4" id="div-voucher">
                    Please select which type of voucher you would like:
                    <select id="select-voucher">
                        <option value="Voucher" disabled selected></option>
                        <option value="amazon">£10 Amazon voucher</option>
                        <option value="m&s">£10 Marks and Spencer voucher</option>
                    </select><br/>
                    <a id="submit-option" class="btn btn-default disabled" role="button">Submit choice</a>
                </div>
                
                <div class="voffset4" id="div-end" style="display: none;">
                    Thank you. Your voucher will be sent to you by email. You can now close the browser.
                </div>
                        
            </div>                
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/thankyou.js') }}"></script>
    <script src="{{ asset('js/utils.js') }}"></script>
{% endblock %}
