/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Jul-2017, 15:45:30
    Author     : dinel
*/

.gap {
    width: 100px;
    border-bottom: black thin dashed;
    display: inline-block;
    text-align: center;
    color: red;
    font-weight: bold;
}

.gap-position {
    margin-bottom: 4em;
    position: relative;
}

.gap-fillers {
    position: absolute;
    width: 400px;
    top: 2em;
    right: -150px;
    text-align: center;
}

.filler {
    display: inline-block;    
    margin: 0.4em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: thin black solid;
    font-size: 90%;
    font-weight: normal;
    color: black;
    cursor: pointer;
}

#container {
    padding-bottom: 220px;    
}

.highlighted {
    font-weight: bold;
    color: deepskyblue;
}
