/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Jul-2017, 15:48:49
    Author     : dinel
*/

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 150px; }

body {
    font-size: 20px;
    padding-bottom: 100px;
}

.answer {
    padding-right: 20px;
    margin-right: 0.25em;
}

.correct-answer {
    background-image: url("check.png");
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: right top;
}

.wrong-answer {
    background-image: url("alert.png");
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: right top;
}